body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width:1200px;
    width:100%;
    margin:0 auto;
}
figure{
    margin:0
}


/******HEADER***/
.wrapper{
    padding:0 20px;
}
.header {
    min-height:100vh;
    background-image: url('../img/hero-img.jpg');
    background-size: cover;
    position:relative;
    
}
.header .wrapper{
    position:relative;
    z-index:9;
    padding:0 20px;

}
.header:before{
    content:'';
    position:absolute;
    background:#000000d1;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.header figure{
    padding:20px;
}
.header nav{
    display:flex;
    align-items: center;
}
.nav{
    margin-left: auto;
    
}
.nav a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left:20px;
}

.nav .active:before, .nav a:hover:before {
    top: -7px;
    bottom: -7px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.nav .active{
    color:red;
}
.nav a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    margin: 0 auto;
    border-style: solid;
    border-width: 20px 0;
    border-color: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition-property: opacity,visibility,top,bottom,border-color;
    transition-property: opacity,visibility,top,bottom,border-color;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    z-index: -1;
}



.header img{
    max-width:200px;
    width: 100%;
}

.headerContainer{
    align-self: center;
}

.h2{
    font-size:32px;
    text-align:center;
    position:relative;
    margin-bottom:50px;
}
.h2:after{
    content:'';
    width:100px;
    height:5px;
    background:red;
    position:absolute;
    right:calc(50% - 50px);
    top:50px;
}

/* okayNav styles */
body.okayNav-loaded {
    overflow-x: hidden;
  }
  .okayNav:not(.loaded) {
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .okayNav ul {
    /* We want two navigations - one hidden and one visible */
    float: left;
  }
  .okayNav a {
    /* Links general styling */
    position: relative;
    z-index: 1;
    margin: 0;
    
  }
  .okayNav__nav--visible {
    overflow: hidden;
    white-space: nowrap;
  }
  .okayNav__nav--visible li {
    display: inline-block;
  }
  .okayNav__nav--visible a {
    /* Link styling for the visible part of the nav */
    display: block;
    transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
    padding: 15px 15px;
  }
  .okayNav__nav--visible a:hover {
    color: red;
  }
  /* Link styling for the off-screen part of the nav */
  .okayNav__nav--invisible {
    position: fixed;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
  }
  .okayNav__nav--invisible a {
    background: #fff;
    width: 240px;
    display: block;
    padding: 25px 0;
    color: #222;
  }
  .okayNav__nav--invisible.nav-left {
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .okayNav__nav--invisible.nav-right {
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .okayNav__nav--invisible.transition-enabled {
    transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  }
  .okayNav__nav--invisible.nav-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  ul.okayNav__nav--invisible.nav-right.transition-enabled.nav-open {
    list-style: none;}
  /* Kebab icon */
  .okayNav__menu-toggle {
    position: relative;
    transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    width: 40px;
    height: 20px;
    float: left;
    z-index: 1;
    top: 0px;
  }
  .okayNav__menu-toggle:hover:before {
    opacity: 0 !important;
}

  .okayNav__menu-toggle.okay-invisible {
    position: absolute;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .okayNav__menu-toggle span {
    display: block;
    position: absolute;
    margin: auto;
    height: 4px;
    width: 4px;
    background: #fff;
    border-radius: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  .okayNav__menu-toggle span:nth-child(1) {
    top: 0;
  }
  .okayNav__menu-toggle span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .okayNav__menu-toggle span:nth-child(3) {
    bottom: 0;
  }
  .okayNav__menu-toggle.icon--active {
    /* Kebab icon when off-screen nav is open */
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .okayNav__menu-toggle.icon--active span {
    background: #fff;
  }
  


  .headerContainer{
      text-align: center;
      max-width:800px;
      width:100%;
      margin:80px auto;
      color:#fff;
  }
  .headerContainer h1,  .headerContainer h2 {
      text-transform:uppercase;
      line-height: 1.6;
  }
  .headerContainer h1  span{
      color:red
  }
  .headerContainer .miNombre{
    color:#fff;
    font-size: 29px;
    border-top:1px solid red;
    border-bottom:1px solid red;
  }

  /*******BOTONES*****/
  .botones a {
      text-decoration:none;
      color:red;
      padding:10px 30px;
      border:1px solid red;
      margin-bottom:20px;
  }
  .botones.hero{
      margin:40px 0px;
      display:flex;
      flex-direction:column;
  }
  .botones.hero a:last-child{
      color:#fff;
      border:1px solid #fff;
  }

  /*******SOBRE MI*****/
  
  .wrapper.sobreMi {
    margin: 40px 0;
}
  .sobreMi img {
      max-width:800px;
      width:100%;
      position:relative;
  }
  .sobreMi article:first-child{
      position:relative;
      z-index:-1;
  }
  .sobreMi article:first-child:after {
    content: '';
    width: 250px;
    height: 110px;
    position: absolute;
    background: #ff00008a;
    top: 60px;
    left: -30px;
    z-index: 999;
    overflow: hidden;
}
.sobreMi p {margin-bottom:30px;}

/*******MIS SERVICIOS******/
.misServicios{
    background:#ececec;
    padding:30px 0;
}
.misServicios article{
    border-top:4px solid red;
    background:#222;
    padding:30px;
    color:#fff;
    margin-bottom:30px;
}
.misServicios img{
    max-width:72px;
    width:100%;
}
.misServicios h3{
    color:red;
}

/******MIS CLIENTES******/
.misClientes {
    margin:40px 0;
    text-align:center;
}
.misClientes img{
    margin-bottom:30px;
}

/*****MI CTA******/
.miLlamada{
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    padding:40px 0;
text-align:center;
color:#fff;
}
.miLlamada a{
    color:#fff;
    border-color:#fff;
}

/*****FOOOTER****/
footer{
    background:#222;
    padding:40px 0;
    color:#fff;
    text-align:center;
}

.socialIcons{
    display:flex;
    justify-content: center;;
}
footer img {
    max-width: 36px;
    width:100%;
    margin:0 10px;
}

/**************NOHOME***********/
.header.nohome {
    min-height: initial;
}
.nohome .sobreMiHeader{
    padding-bottom:40px;
}
.sobreMiHeader {
    color:red;
    font-size:26px;
    text-transform:uppercase;
}
.sobreMiHeader a {
    text-decoration:none;
    color:#fff;
}


/********SOBRE MI*********/
.misConocimientos{
    background:#ececec;
    padding:40px;
}
.datosPersonales{
    margin-bottom:50px;
}
.datosPersonales span{
    text-transform: uppercase;
    margin-left:10px;
    margin-right:10px;
    font-size:18px;
    font-weight: bold;;
}
.progresoBarra{
    max-width:400px;
    width:100%;
    height:40px;
    border-radius:30px;
    background:#222;
    position:relative;
}
.progresoBarra span {
    position:absolute;
    height: 30px;
    border-radius:30px;
    background:red;
    top: 5px;
    left:5px;
}
.misConocimientos .wrapper{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.misConocimientos h2{
    font-size:30px;
}



/********PORTFOLIO*********/
.misProyectos{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.misProyectos figure{
    margin-bottom:40px;
    text-align:center;
    position:relative;
    overflow:hidden;
}
.misProyectos figure:hover img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.misProyectos figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.misProyectos figure:hover figcaption {
    opacity: 1;
}

.misProyectos figcaption{
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    top: 40%;
    font-weight: bold;
    left: 76px;
    opacity: 0;
}
.misProyectos figure:before{
    content:'';
    width:100%;
    background:#2222229e;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    
}
.miEnlace .fas{
    font-size: 30px;
}


.misProyectos img{
    width:100%;
    position:relative;
    z-index:-1;
}

/********CONTACTO*********/
.contenidoContacto .fas{
    font-size:46px;
}
.contenidoContacto{
    text-align:center;
    display:flex;
    flex-direction:column;
}
.datosContacto{
    margin-bottom:80px;
}

.formulario{
    background:#ececec;
    padding:40px 0 80px 0;
     
}
.formulario form{
    max-width:500px;
    width:100%;
    margin:20px auto;
    border:1px solid #ccc;
    padding:30px;
}
.formulario form input,.formulario form textarea{
    width:100%;
    padding:10px;
    background:transparent;
    border:1px solid #ccc;
}
.formulario input[type="submit"]{
    background:red;
    color:#fff;
    text-transform:uppercase;
    font-weight: bold;
}


/**********************RESPONSIVE*****************************/
/************************************************************/
/*---------------------------------------------------------*/

@media screen and (min-width: 768px){

    .headerContainer .miNombre{
        font-size: 42px;
    }
    .botones.hero{
        flex-direction:row;
        justify-content:space-around;
        max-width: 500px;
        margin:60px auto;
    }
    .wrapper.sobreMi{
        display:flex;
        justify-content: space-between;
        margin-top:80px;
    }
    .quienSoy{
        margin:60px 0;
    }
    .wrapper.sobreMi article{
        width:47%;
    }
    .misServicios{
        padding:60px 0
    }
    .misServicios .wrapper{
        display:flex;
        justify-content: space-between;
    }
    .misServicios .wrapper article{
        width:24%;
    
    }
    .misClientes{
        margin:80px;
    }
    .misClientes .wrapper{
        display:flex;
        justify-content: space-between;
    }
    .miLlamada{
        padding:80px 0;
    }

    .miLlamada h3{
        font-size:26px;
    }


    .misConocimientos .wrapper{
        flex-direction:row;
    }

    .misProyectos img{
        max-width:250px;
    }

    .contenidoContacto {
        flex-direction:row;
        justify-content: space-between;
    }

}
